In [1]:
import os
import pandas as pd

import numpy as np

import sys
sys.path.append('../../')
from src.models._base import BaseModel
from src.utils import read_json_df
import random
from typing import Iterable, Union
import networkx as nx
import sklearn.metrics.pairwise
from scipy import sparse
import warnings

from src.models.median_baseline import MedianBaselineModel

from src.models.page_rank import PageRankModel
median = MedianBaselineModel()
page_rank = PageRankModel()


warnings.filterwarnings("ignore")

In [2]:
review_df = read_json_df("../../data/yelp_dataset/yelp_academic_dataset_review.json")

In [3]:
user_df = read_json_df("../../data/yelp_dataset/yelp_academic_dataset_user.json")

In [4]:
business_df = read_json_df("../../data/yelp_dataset/yelp_academic_dataset_business.json")

In [5]:
len(random.sample(list(review_df.business_id.unique()),50000))

50000

### Let's took 10k users and 10k bussiness from our dataset only

In [6]:

review_df = review_df[review_df.business_id.isin(random.sample(list(review_df.business_id.unique()),10000))]
review_df = review_df[review_df.user_id.isin(random.sample(list(review_df.user_id.to_list()),1000))]
review_df = review_df.groupby(['user_id','business_id']).agg({'stars':'last','date':'last'}).reset_index() # Drop Duplicates

In [7]:
review_df

,user_id,business_id,stars,date
0,-3s52C4zL_DHRK0ULG6qtg,-PKjA_-bWOD0zj2SPH3ZLA,4.0,2014-01-28 17:45:34
1,-3s52C4zL_DHRK0ULG6qtg,-kqjc8DxxRac4cz2qTKCLw,4.0,2014-09-04 02:45:20
2,-3s52C4zL_DHRK0ULG6qtg,2IahpaBR4U2Kdy9HF28EQA,2.0,2011-05-05 02:53:46
3,-3s52C4zL_DHRK0ULG6qtg,33JlrWf0kmHd2VzW58Wp0g,3.0,2016-03-07 16:28:38
4,-3s52C4zL_DHRK0ULG6qtg,4nHVKuS6Ew9uAtLVtEw7Ww,2.0,2013-10-09 02:13:07
...,...,...,...,...
3845,zwXmvn1op5LuFF2Kveqaug,Yw-guSo-TKY3YbRrq0PELQ,3.0,2016-09-04 23:06:50
3846,zwXmvn1op5LuFF2Kveqaug,b13EoceGelGyrIPRxxiERQ,4.0,2016-06-27 20:53:37
3847,zwXmvn1op5LuFF2Kveqaug,mGy0KzmeGIECUL0nZXUV0g,5.0,2016-01-24 20:12:19
3848,zwXmvn1op5LuFF2Kveqaug,msnm4l6xGcCDrPrjDzUVbQ,5.0,2018-12-04 00:12:14
3849,zwXmvn1op5LuFF2Kveqaug,xo5jnECyqPcvqJsAXlhIDQ,5.0,2018-06-24 14:06:48

In [8]:
user_df = user_df[user_df.user_id.isin(review_df.user_id.unique())]
business_df = business_df[business_df.business_id.isin(review_df.business_id.unique())]

In [9]:
median = MedianBaselineModel()
page_rank = PageRankModel()

In [10]:
median.evaluate(review_df,user_df,business_df)

Evaluation fold: 100%|████████████████████████████| 5/5 [00:00<00:00,  7.64it/s]

{'rmse': 1.2881948412916775,
 'mae': 0.947581903276131,
 'accuracy': 0.3235569422776911,
 'f1': 0.18088168992869846,
 'precision': 0.3018601751687772,
 'recall': 0.2203507681397158,
 'AP@1': 0.005148477799339869,
 'AP@3': 0.004673361440602819,
 'AP@K': 0.004324819576974748,
 'MAP@K': 0.004492821908112515}

In [ ]:
page_rank.evaluate(review_df,user_df,business_df)

Evaluation fold:  80%|██████████████████████▍     | 4/5 [01:18<00:26, 26.02s/it]